/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 abr. 2021, 20:31:46
    Author     : Moi
*/

body{
    background-image: url("../images/plane-828826_1920.jpg");
}

.clear {
    clear:both;
}

#navbarIcon {
    height: 60px;
}

.myForm {
    width: 50%;
    padding:10px;
    border:1px solid #eee;
    margin:10px;
    margin-left: 25%;
    background-color: lightgray;
}

.myTitle {
    margin-bottom: 20px;
    margin-left: 25%;
}

.tdEliminar {
    color: rgb(204, 0, 0);
}

.tdEliminar:hover {
    color: rgb(0, 0, 102)
}

.tdComprar{
    color: rgb(0, 153, 0);
}

.tdComprar:hover{
    color: rgb(153, 0, 204);
}

.tdEditar {
    color: rgb(0, 204, 0);
}

.tdEditar:hover {
    color: rgb(0, 0, 102)
}
